.characterSlots{
    display: flex;
}

.characterSlots > div{
    display: flex;
    flex-direction: column;
}

.characterCardContainer *{
    margin:0;
}
.characterCardContainer{
    background: rgba(20,20,20,0.5);
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    width: 300px;
    height: 300px;
    display:flex;
    flex-direction: column;
}

.characterCardContainer > div{
    background-color: rgba(20,20,20,0.8);
    border-radius: 20px;
    padding: 10px;
}

.characterCardIconContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1
}

.characterIcon-button{
    background-color: rgba(0, 0, 0, 0);
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.characterIcon-addProfile{
    width:100px;
    height: 100px;
    background-color: rgba(150,150,150,0.5);
    border-radius: 50%;
}

.characterIcon-addProfile > div{
    position: relative;
    background-color: white;
    border-radius: 20px;
    width: 60px;
    height: 15px; 
    top: 50%;
    left:50%;
    translate: -50% -50%;
}

.characterIcon-addProfile > div:nth-of-type(2){
    transform: rotateZ(90deg);
    translate: -50% -140%;
}
